*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    color: white;
}

header {
    background-color: #666; /* #666 = pleasant grey colour */
    padding: 50px 0px 40px 0px;
}

.parallax {
    background-image: url(images/test_im.png);

    min-height: 750px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 25px;
    font-weight: bold;
}

.About-me {
    background-color: #666;
    display: flex;
    justify-content: space-around; /* This might not work, too much space */
    align-items: center;
    padding: 40px 20px;
    flex-wrap: nowrap;
    height: 500px;
    font-size: 20px;
}

.About-image {
    text-align: center;
    max-width: 500px;
    margin: 5px;
}

.About-image img {
    width: 100%;
    border: 2px solid black;
}

.About-text {
    max-width: 600px;
    margin: 5px;
}

