*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    color: white;
}

header {
    background-color: #666; /* #666 = pleasant grey colour */
    padding: 40px 0px 30px 0px;
}

.parallax {
    background-image: url(images/test_im.png);

    min-height: 750px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.test {
    height: 500px;
    background-color: #666;
    font-size: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    font-weight: bold;
}