*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    color: black;
}

header {
    background-color:#444; /* #666 = pleasant grey colour */
    padding: 50px 0px 40px 0px;
    color: #F8F4FF;
}

.parallax {
    min-height: 650px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
    background-image: url(images/Fjäll_2.jpg);
    position: relative;
}

.parallax1-text {
    position: absolute;
    font-size: 60px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
    letter-spacing: 4px;

}

.parallax2 {
    background-image: url(images/Fjäll_sjö_2.jpg);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 25px;
    font-weight: bold;
}

.About-me {
    background-color: #F0EAD6;
    display: flex;
    justify-content: space-around; /* This might not work, too much space */
    align-items: center;
    padding: 40px 20px;
    flex-wrap: nowrap;
    height: 500px;
    font-size: 20px;
}

.About-image {
    text-align: center;
    max-width: 500px;
    margin: 5px;
}

.About-image img {
    width: 100%;
    border: 2px solid black;
}

.About-text {
    max-width: 600px;
    margin: 5px;
}

.Journey {
    background-color: #F0EAD6;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 20px;
    flex-wrap: wrap;
    height: 930px;
    gap: 40px;
}

.timeline {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 30px;
    padding-left: 110px;
    flex: 2;
}

.timeline::before {
    position: absolute;
    left: 89px;
    top: 40px;
    bottom: 0;
    height: calc(100% - 140px); /* Improvised solution for getting rid of last white line */
    width: 2px; /* Line width */
    background: black;
    content: ''; /* Needed to make the white lines work */
}

.timeline-step {
    position: relative;
    margin-bottom: 80px;
    font-size: 22px;
    line-height: 1.6;
    max-width: 700px;
}

.timeline-step:hover {
    background-color: rgba(0,0,0,0.05);
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease; /* Neat little trick to get a nice hover effect */
}

.circle {
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 50%;
    position: absolute;
    left: -30px;
    top: 5px;    
}

.Journey-image {
    text-align: center;
    max-width: 700px;
    margin: 5px;
}

.Journey-image img {
    width: 100%;
    border: 2px solid black;
}

.bottom-info {
    background-color: #444;
    color: white;
    padding: 40px 20px;
    font-size: 15px;
}

.footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
}

.footer-section {
    max-width: 300px;
}

.footer-section h {
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 2px solid white;
}